.App {
    text-align: center;
    display: flex;
    flex-direction: column;  /* Adjust direction to column */
    align-items: center;  /* Center items vertically */
}

.app-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.chart-container {
    padding: 10px;  /* adjust this value as needed */
}

.charts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
}

.edit-button {
    right: 10px;
    position: absolute;
    padding: 10px;
    top: 5px;
    zIndex: 1;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid black; /* Black outline */
    background-color: transparent;
}

.edit-button:hover {
    background-color: #D3D3D3; /* Darker blue on hover */
}

.edit-button:active {
    background-color: #D3D3D3;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: -10px;
    zIndex: 1;
    border-radius: 50%;     /* Circle button */
    width: 25px;            /* Fixed width */
    height: 25px;           /* Fixed height */
    line-height: 25px;      /* Vertically center the "X" */
    text-align: center;     /* Horizontally center the "X" */
    background-color: #2a71d0; /* Blue background color */
    color: white;           /* White text color */
    border: none;           /* No border */
    cursor: pointer;        /* Hand cursor */
    font-weight: bold;      /* Bold "X" */
    font-size: 1em;         /* Font size */
}

.delete-button:hover {
    background-color: #1f5bb6; /* Darker blue on hover */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Basic styling for the dropdown */
select {
  padding: 10px 15px;
  border-radius: 4px;   /* Rounded edges */
  border: 1px solid #282c34;   /* A dark border similar to your theme */
  background-color: #fff;  /* White background */
  color: #282c34;  /* Dark text color */
  font-size: 1em;   /* Font size */
  margin: 20px;   /* Some margin around */
  cursor: pointer;   /* Hand cursor on hover */
}

/* Styles for the dropdown options */
select option {
  color: #282c34;  /* Dark text color */
  background-color: #ecf0f1;  /* Light grey background */
}

/* Styling for the dropdown on hover */
select:hover {
  border-color: #50AF95;  /* Changing the border color to one of your theme colors */
}

.dropdown-wrapper button {
    padding: 10px 15px;
    border-radius: 25px;  /* Increased for a more rounded appearance */
    border: 1px solid #2a71d0;  /* Blue border */
    background-color: #2a71d0;  /* Blue background */
    color: #fff;  /* White text color */
    font-size: 1em;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover */
}

.dropdown-wrapper button:hover {
    background-color: #1f5bb6; /* Darker blue on hover */
    border-color: #1f5bb6;     /* Darker blue on hover */
}

/* Styling for the dropdown arrow */
select::-ms-expand {
  display: none;
}
