.App {
    text-align: center;
    display: flex;
    flex-direction: column;  /* Adjust direction to column */
    align-items: center;  /* Center items vertically */
}

.app-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.chart-container {
    padding: 10px;  /* adjust this value as needed */
}

.charts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Basic styling for the dropdown */
select {
  padding: 10px 15px;
  border-radius: 4px;   /* Rounded edges */
  border: 1px solid #282c34;   /* A dark border similar to your theme */
  background-color: #fff;  /* White background */
  color: #282c34;  /* Dark text color */
  font-size: 1em;   /* Font size */
  margin: 20px;   /* Some margin around */
  cursor: pointer;   /* Hand cursor on hover */
}

/* Styles for the dropdown options */
select option {
  color: #282c34;  /* Dark text color */
  background-color: #ecf0f1;  /* Light grey background */
}

/* Styling for the dropdown on hover */
select:hover {
  border-color: #50AF95;  /* Changing the border color to one of your theme colors */
}

/* Styling for the dropdown arrow */
select::-ms-expand {
  display: none;
}
